VITE_SUPABASE_URL=http://127.0.0.1:54321
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRlc2hvc2lkbW5kdnJ0cnVwZWciLCJyb2xlIjoiYW5vbiIsImlhdCI6MTY2NDMyNjg0NiwiZXhwIjoxOTc5OTAyODQ2fQ.example_anon_key
